<a href="https://colab.research.google.com/github/abidshafi/Data-Management-AWS-/blob/main/Group_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 2, 3 & 4

## Initialization

In [ ]:
import os

In [ ]:
!pip freeze | grep -E 'ipython-sql|psycopg2'

ipython-sql==0.4.0
psycopg2==2.9.1
psycopg2-binary==2.9.1

* Make sure no database with same name is there currently.

In [ ]:
!dropdb -U student candidate

* Create the database.

In [ ]:
!createdb -U student candidate

* Connect database.

In [ ]:
%load_ext sql   
# Connect

In [ ]:
%sql postgresql://student@/candidate
# Database connection

In [ ]:
!psql --version

psql (PostgreSQL) 12.8 (Ubuntu 12.8-0ubuntu0.20.04.1)

In [ ]:
!pwd

/home/ubuntu

* Create directory to save relevant files and change directory to specified folder

In [ ]:
!mkdir 'Exercise  2 (Group)'

In [ ]:
assert 'Exercise  2 (Group)' in os.listdir()

In [ ]:
%cd 'Exercise  2 (Group)'/

/home/ubuntu/Exercise  2 (Group)

## Candidate Table

* Create 'CANDIDATE' table with all of its attributes and the type of data of each attribute.

In [ ]:
%%sql
DROP TABLE IF EXISTS CANDIDATE Cascade;

CREATE TABLE CANDIDATE (
  CAND_ID                VARCHAR(9) NOT NULL, 
  CAND_NAME              VARCHAR(200),
  CAND_PTY_AFFILIATION   VARCHAR(3),
  CAND_ELECTION_YR       numeric(4),
  CAND_OFFICE_ST         VARCHAR(2),
  CAND_OFFICE            VARCHAR(1),
  CAND_OFFICE_DISTRICT   VARCHAR(2),
  CAND_ICI               VARCHAR(1),
  CAND_STATUS            VARCHAR(1),
  CAND_PCC               VARCHAR(9),
  CAND_ST1               VARCHAR(34),
  CAND_ST2               VARCHAR(34),
  CAND_CITY              VARCHAR(30),
  CAND_ST                VARCHAR(2),
  CAND_ZIP               VARCHAR(9),
  PRIMARY KEY (CAND_ID)
);

 * postgresql://student@/candidate
Done.
Done.

[]

* Add explanation of what data the 'CANDIDATE' table contains.

In [ ]:
%%sql
COMMENT ON TABLE CANDIDATE IS 
'Candidate Master(CN16): contains 1 record for each candidate who has either registered with the FEC or appeared on a ballot list prepared by a state elections office.';

 * postgresql://student@/candidate
Done.

[]

* Add explanation of what each attribute (column) means in the 'CANDIDATE' table.

In [ ]:
%%sql
COMMENT ON COLUMN CANDIDATE.CAND_ID IS 'Candidate identification';
COMMENT ON COLUMN CANDIDATE.CAND_NAME IS 'Candidate name';
COMMENT ON COLUMN CANDIDATE.CAND_PTY_AFFILIATION IS 'Party affiliation';
COMMENT ON COLUMN CANDIDATE.CAND_ELECTION_YR IS 'Year of election';
COMMENT ON COLUMN CANDIDATE.CAND_OFFICE_ST IS 'Candidate state';
COMMENT ON COLUMN CANDIDATE.CAND_OFFICE IS 'Candidate office';
COMMENT ON COLUMN CANDIDATE.CAND_OFFICE_DISTRICT IS 'Candidate district';
COMMENT ON COLUMN CANDIDATE.CAND_ICI IS 'Incumbent challenger status';
COMMENT ON COLUMN CANDIDATE.CAND_STATUS IS 'Candidate status';
COMMENT ON COLUMN CANDIDATE.CAND_PCC IS 'Principal campaign committee';
COMMENT ON COLUMN CANDIDATE.CAND_ST1 IS 'Mailing address - street';
COMMENT ON COLUMN CANDIDATE.CAND_ST2 IS 'Mailing address - street2';
COMMENT ON COLUMN CANDIDATE.CAND_CITY IS 'Mailing address - city';
COMMENT ON COLUMN CANDIDATE.CAND_ST IS 'Mailing address - state';
COMMENT ON COLUMN CANDIDATE.CAND_ZIP IS 'Mailing address - ZIP code';

 * postgresql://student@/candidate
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

* Get the header and bulk data file.

In [ ]:
!wget https://www.fec.gov/files/bulk-downloads/data_dictionaries/cn_header_file.csv

--2021-11-01 17:19:28--  https://www.fec.gov/files/bulk-downloads/data_dictionaries/cn_header_file.csv
Resolving www.fec.gov (www.fec.gov)... 99.84.191.105, 99.84.191.118, 99.84.191.44, ...
Connecting to www.fec.gov (www.fec.gov)|99.84.191.105|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/data_dictionaries/cn_header_file.csv [following]
--2021-11-01 17:19:28--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/data_dictionaries/cn_header_file.csv
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.48.8
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.48.8|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 180 [binary/octet-stream]
Saving to: ‘cn_header_file.csv’

cn_header_file.csv  100%[===================>]     180  --.-KB/s    in 0s

2021-11-01 17:19:28 (9.34 MB/s) - ‘cn_header_file.csv’ saved [180/180]

In [ ]:
!wget https://www.fec.gov/files/bulk-downloads/2016/cn16.zip

--2021-11-01 17:19:28--  https://www.fec.gov/files/bulk-downloads/2016/cn16.zip
Resolving www.fec.gov (www.fec.gov)... 99.84.191.86, 99.84.191.44, 99.84.191.118, ...
Connecting to www.fec.gov (www.fec.gov)|99.84.191.86|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/cn16.zip [following]
--2021-11-01 17:19:28--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/cn16.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.48.8
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.48.8|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 271705 (265K) [application/zip]
Saving to: ‘cn16.zip’

cn16.zip            100%[===================>] 265.34K   760KB/s    in 0.3s

2021-11-01 17:19:29 (760 KB/s) - ‘cn16.zip’ saved [271705/271705]

In [ ]:
assert 'cn_header_file.csv' in os.listdir()

In [ ]:
assert 'cn16.zip' in os.listdir()

In [ ]:
!unzip -l cn16.zip

Archive:  cn16.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
   711147  2020-12-31 07:36   cn.txt
---------                     -------
   711147                     1 file

In [ ]:
!unzip cn16.zip

Archive:  cn16.zip
  inflating: cn.txt

In [ ]:
!head cn.txt

H0AK00097|COX, JOHN R.|REP|2014|AK|H|00|C|N|C00525261|P.O. BOX 1092 ||ANCHOR POINT|AK|99556
H0AL02087|ROBY, MARTHA|REP|2016|AL|H|02|I|C|C00462143|PO BOX 195||MONTGOMERY|AL|36101
H0AL02095|JOHN, ROBERT E JR|IND|2016|AL|H|02|C|N||1465 W OVERBROOK RD||MILLBROOK|AL|36054
H0AL05049|CRAMER, ROBERT E "BUD" JR|DEM|2008|AL|H|05||P|C00239038|PO BOX 2621||HUNTSVILLE|AL|35804
H0AL05163|BROOKS, MO|REP|2016|AL|H|05|I|C|C00464149|7610 FOXFIRE DRIVE||HUNTSVILLE|AL|35802
H0AL06088|COOKE, STANLEY KYLE|REP|2010|AL|H|06|C|N|C00464222|723 CHERRY BROOK ROAD||KIMBERLY|AL|35091
H0AL07086|SEWELL, TERRYCINA ANDREA|DEM|2016|AL|H|07|I|C|C00458976|PO BOX 1964||BIRMINGHAM|AL|35201
H0AL07094|HILLIARD, EARL FREDERICK JR|DEM|2010|AL|H|07|O|P|C00460410|PO BOX 12804||BIRMINGHAM|AL|35202
H0AL07177|CHAMBERLAIN, DON|REP|2012|AL|H|07|C|P|C00482059|512 LAPSLEY ST||SELMA|AL|36701
H0AR01083|CRAWFORD, ERIC ALAN RICK|REP|2016|AR|H|01|I|C|C00462374|34 CR 455||JONESBORO|AR|72404

* Convert text file to csv file with delimiter.

In [ ]:
!csvformat -d '|' cn.txt > cn.csv

* Stack files.

In [ ]:
!csvstack cn_header_file.csv cn.csv > cn1.csv

* Count the number of rows in the data file.

In [ ]:
!wc -l cn1.csv
# This is the total row entry in the file

7396 cn1.csv

* Check the column names of the data file.

In [ ]:
!csvcut -n cn1.csv

  1: CAND_ID
  2: CAND_NAME
  3: CAND_PTY_AFFILIATION
  4: CAND_ELECTION_YR
  5: CAND_OFFICE_ST
  6: CAND_OFFICE
  7: CAND_OFFICE_DISTRICT
  8: CAND_ICI
  9: CAND_STATUS
 10: CAND_PCC
 11: CAND_ST1
 12: CAND_ST2
 13: CAND_CITY
 14: CAND_ST
 15: CAND_ZIP

* Load CANDIDATE data into the database.

In [ ]:
!pwd

/home/ubuntu/Exercise  2 (Group)

In [ ]:
%%sql
COPY CANDIDATE FROM '/home/ubuntu/Exercise  2 (Group)/cn1.csv'
CSV
HEADER;

 * postgresql://student@/candidate
7395 rows affected.

[]

* Count the rows in 'CANDIDATE' table to check if all data has been loaded successfully: the number of rows affected is one less than the number of rows in the data file, because the header is not affected.

In [ ]:
%%sql
SELECT COUNT(*) FROM CANDIDATE;

 * postgresql://student@/candidate
1 rows affected.

[(7395,)]

* View the table to check if the data format is identical to that of the original data file.

In [ ]:
%%sql
SELECT * FROM CANDIDATE
Limit 5;

 * postgresql://student@/candidate
5 rows affected.

[('H0AL02087', 'ROBY, MARTHA', 'REP', Decimal('2016'), 'AL', 'H', '02', 'I', 'C', 'C00462143', 'PO BOX 195', None, 'MONTGOMERY', 'AL', '36101'),
 ('H0AL02095', 'JOHN, ROBERT E JR', 'IND', Decimal('2016'), 'AL', 'H', '02', 'C', 'N', None, '1465 W OVERBROOK RD', None, 'MILLBROOK', 'AL', '36054'),
 ('H0AL05049', 'CRAMER, ROBERT E "BUD" JR', 'DEM', Decimal('2008'), 'AL', 'H', '05', None, 'P', 'C00239038', 'PO BOX 2621', None, 'HUNTSVILLE', 'AL', '35804'),
 ('H0AL05163', 'BROOKS, MO', 'REP', Decimal('2016'), 'AL', 'H', '05', 'I', 'C', 'C00464149', '7610 FOXFIRE DRIVE', None, 'HUNTSVILLE', 'AL', '35802'),
 ('H0AL06088', 'COOKE, STANLEY KYLE', 'REP', Decimal('2010'), 'AL', 'H', '06', 'C', 'N', 'C00464222', '723 CHERRY BROOK ROAD', None, 'KIMBERLY', 'AL', '35091')]

## Committee Master

* Create 'COMMITTEE' table with all of its attributes and the type of data of each attribute.

In [ ]:
%%sql
DROP TABLE IF EXISTS COMMITTEE Cascade;

CREATE TABLE COMMITTEE (
  CMTE_ID                VARCHAR(9) NOT NULL, 
  CMTE_NM                VARCHAR(200),
  TRES_NM                VARCHAR(90),
  CMTE_ST1               VARCHAR(34),
  CMTE_ST2               VARCHAR(34),
  CMTE_CITY              VARCHAR(30),
  CMTE_ST                VARCHAR(2),
  CMTE_ZIP               VARCHAR(9),
  CMTE_DSGN              VARCHAR(1),
  CMTE_TP                VARCHAR(1),
  CMTE_PTY_AFFILIATION   VARCHAR(3),
  CMTE_FILING_FREQ       VARCHAR(1),
  ORG_TP                 VARCHAR(1),
  CONNECTED_ORG_NM       VARCHAR(200),
  CAND_ID                VARCHAR(9),
  PRIMARY KEY (CMTE_ID)
);

 * postgresql://student@/candidate
Done.
Done.

[]

* Add explanation of what data the 'COMMITTEE' table contains.

In [ ]:
%%sql
COMMENT ON TABLE COMMITTEE IS 
'Committee Master(CM16): contains 1 record for each committee registered with the FEC. This includes federal political action committees and party committees, campaign committees for presidential, house and senate candidates, as well as groups or organizations who are spending money for or against candidates for federal office.';

 * postgresql://student@/candidate
Done.

[]

* Add explanation of what each attribute (column) means in the 'COMMITTEE' table.

In [ ]:
%%sql
COMMENT ON COLUMN COMMITTEE.CMTE_ID IS 'Committee identification';
COMMENT ON COLUMN COMMITTEE.CMTE_NM IS 'Committee name';
COMMENT ON COLUMN COMMITTEE.TRES_NM IS 'Treasurer name';
COMMENT ON COLUMN COMMITTEE.CMTE_ST1 IS 'Street one';
COMMENT ON COLUMN COMMITTEE.CMTE_ST2 IS 'Street two';
COMMENT ON COLUMN COMMITTEE.CMTE_CITY IS 'City or town';
COMMENT ON COLUMN COMMITTEE.CMTE_ST IS 'State';
COMMENT ON COLUMN COMMITTEE.CMTE_ZIP IS 'ZIP code';
COMMENT ON COLUMN COMMITTEE.CMTE_DSGN IS 'Committee designation';
COMMENT ON COLUMN COMMITTEE.CMTE_TP IS 'Committee type';
COMMENT ON COLUMN COMMITTEE.CMTE_PTY_AFFILIATION IS 'Committee party';
COMMENT ON COLUMN COMMITTEE.CMTE_FILING_FREQ IS 'Filing frequency';
COMMENT ON COLUMN COMMITTEE.ORG_TP IS 'Interest group category';
COMMENT ON COLUMN COMMITTEE.CONNECTED_ORG_NM IS 'Connected organizations name';
COMMENT ON COLUMN COMMITTEE.CAND_ID IS 'Candidate identification';

 * postgresql://student@/candidate
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

* Get the header and bulk data file.

In [ ]:
!wget https://www.fec.gov/files/bulk-downloads/data_dictionaries/cm_header_file.csv

--2021-11-01 17:19:33--  https://www.fec.gov/files/bulk-downloads/data_dictionaries/cm_header_file.csv
Resolving www.fec.gov (www.fec.gov)... 99.84.191.86, 99.84.191.44, 99.84.191.118, ...
Connecting to www.fec.gov (www.fec.gov)|99.84.191.86|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/data_dictionaries/cm_header_file.csv [following]
--2021-11-01 17:19:33--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/data_dictionaries/cm_header_file.csv
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.48.8
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.48.8|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 158 [binary/octet-stream]
Saving to: ‘cm_header_file.csv’

cm_header_file.csv  100%[===================>]     158  --.-KB/s    in 0s

2021-11-01 17:19:33 (6.21 MB/s) - ‘cm_header_file.csv’ saved [158/158]

In [ ]:
!wget https://www.fec.gov/files/bulk-downloads/2016/cm16.zip

--2021-11-01 17:19:34--  https://www.fec.gov/files/bulk-downloads/2016/cm16.zip
Resolving www.fec.gov (www.fec.gov)... 99.84.191.86, 99.84.191.44, 99.84.191.118, ...
Connecting to www.fec.gov (www.fec.gov)|99.84.191.86|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/cm16.zip [following]
--2021-11-01 17:19:34--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/cm16.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.49.48
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.49.48|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 732154 (715K) [application/zip]
Saving to: ‘cm16.zip’

cm16.zip            100%[===================>] 714.99K  1.69MB/s    in 0.4s

2021-11-01 17:19:34 (1.69 MB/s) - ‘cm16.zip’ saved [732154/732154]

In [ ]:
assert 'cm_header_file.csv' in os.listdir()

In [ ]:
assert 'cm16.zip' in os.listdir()

In [ ]:
!unzip -l cm16.zip

Archive:  cm16.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
  2153204  2020-12-31 07:36   cm.txt
---------                     -------
  2153204                     1 file

In [ ]:
!unzip cm16.zip

Archive:  cm16.zip
  inflating: cm.txt

In [ ]:
!head cm.txt

C00000059|HALLMARK CARDS PAC|ERIN BROWER|2501 MCGEE|MD#288|KANSAS CITY|MO|64108|U|Q|UNK|M|C||
C00000422|AMERICAN MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE|WALKER, KEVIN|25 MASSACHUSETTS AVE, NW|SUITE 600|WASHINGTON|DC|20001|B|Q||M|M|AMERICAN MEDICAL ASSOCIATION|
C00000489|D R I V E POLITICAL FUND CHAPTER 886|TOM RITTER|3528 W RENO||OKLAHOMA CITY|OK|73107|U|N||Q|L|TEAMSTERS LOCAL UNION 886|
C00000547|KANSAS MEDICAL SOCIETY POLITICAL ACTION COMMITTEE|C. RICHARD BONEBRAKE, M.D.|623 SW 10TH AVE||TOPEKA|KS|66612|U|Q|UNK|Q|T||
C00000638|INDIANA STATE MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE|VIDYA KORA, M.D.|322 CANAL WALK, CANAL LEVEL||INDIANAPOLIS|IN|46202|U|Q||Q|M||
C00000729|AMERICAN DENTAL ASSOCIATION POLITICAL ACTION COMMITTEE|HARRISON, THOMAS C. DR|1111 14TH STREET, NW|SUITE 1100|WASHINGTON|DC|20005|B|Q|UNK|M|M|AMERICAN DENTAL ASSOCIATION|
C00000885|INTERNATIONAL UNION OF PAINTERS AND ALLIED TRADES POLITICAL ACTION TOGETHER POLITICAL COMMITTEE|GALIS, GEORGE|7234 PARKWAY DRIVE||HANOVER|MD|21076|B|Q|UNK|M|L|INTERNATIONAL UNION OF PAINTERS AND ALLIED TRADES|
C00000901|BUILD POLITICAL ACTION COMMITTEE OF THE NATIONAL ASSOCIATION OF HOME BUILDERS (BUILDPAC)|RAMAGE, EILEEN|1201 15TH STREET, NW||WASHINGTON|DC|20005|B|Q|UNK|M|T|NATIONAL ASSOCIATION OF HOME BUILDERS|
C00000935|DCCC|WARD, KELLY C.|430 SOUTH CAPITOL STREET, SE|2ND FLOOR|WASHINGTON|DC|200034024|U|Y|DEM|M|||
C00000984|UNITED STATES TELECOM ASSOCIATION POLITICAL ACTION COMMITTEE (TELECOMPAC)|VERSAGGI, SARAH|607 14TH STREET NORTHWEST|SUITE 400|WASHINGTON|DC|20005|B|Q|UNK|M|T|UNITED STATES TELECOM ASSOCIATION|

* Convert text file to csv file

In [ ]:
!csvformat -d '|' cm.txt > cm.csv

* Stack files.

In [ ]:
!csvstack cm_header_file.csv cm.csv > cm1.csv

* Count the number of rows in the data file.

In [ ]:
!wc -l cm1.csv

17651 cm1.csv

* Check the column names of the data file.

In [ ]:
!csvcut -n cm1.csv

  1: CMTE_ID
  2: CMTE_NM
  3: TRES_NM
  4: CMTE_ST1
  5: CMTE_ST2
  6: CMTE_CITY
  7: CMTE_ST
  8: CMTE_ZIP
  9: CMTE_DSGN
 10: CMTE_TP
 11: CMTE_PTY_AFFILIATION
 12: CMTE_FILING_FREQ
 13: ORG_TP
 14: CONNECTED_ORG_NM
 15: CAND_ID

* Load data into the database.

In [ ]:
!pwd

/home/ubuntu/Exercise  2 (Group)

In [ ]:
%%sql
COPY COMMITTEE FROM '/home/ubuntu/Exercise  2 (Group)/cm1.csv'
CSV
HEADER;

 * postgresql://student@/candidate
17650 rows affected.

[]

* Count the rows in 'COMMITTEE' table to check if all data has been loaded successfully: the number of rows affected is one less than the number of rows in the data file, because the header is not affected.

In [ ]:
%%sql
SELECT COUNT(*) FROM COMMITTEE;

 * postgresql://student@/candidate
1 rows affected.

[(17650,)]

* View the table to check if the data format is identical to that of the original data file.

In [ ]:
%%sql
SELECT * FROM COMMITTEE
Limit 5;

 * postgresql://student@/candidate
5 rows affected.

[('C00000422', 'AMERICAN MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE', 'WALKER, KEVIN', '25 MASSACHUSETTS AVE, NW', 'SUITE 600', 'WASHINGTON', 'DC', '20001', 'B', 'Q', None, 'M', 'M', 'AMERICAN MEDICAL ASSOCIATION', None),
 ('C00000489', 'D R I V E POLITICAL FUND CHAPTER 886', 'TOM RITTER', '3528 W RENO', None, 'OKLAHOMA CITY', 'OK', '73107', 'U', 'N', None, 'Q', 'L', 'TEAMSTERS LOCAL UNION 886', None),
 ('C00000547', 'KANSAS MEDICAL SOCIETY POLITICAL ACTION COMMITTEE', 'C. RICHARD BONEBRAKE, M.D.', '623 SW 10TH AVE', None, 'TOPEKA', 'KS', '66612', 'U', 'Q', 'UNK', 'Q', 'T', None, None),
 ('C00000638', 'INDIANA STATE MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE', 'VIDYA KORA, M.D.', '322 CANAL WALK, CANAL LEVEL', None, 'INDIANAPOLIS', 'IN', '46202', 'U', 'Q', None, 'Q', 'M', None, None),
 ('C00000729', 'AMERICAN DENTAL ASSOCIATION POLITICAL ACTION COMMITTEE', 'HARRISON, THOMAS C. DR', '1111 14TH STREET, NW', 'SUITE 1100', 'WASHINGTON', 'DC', '20005', 'B', 'Q', 'UNK', 'M', 'M', 'AMERICAN DENTAL ASSOCIATION', None)]

## Contribution Table

* Create 'CONTRIBUTION' table with all of its attributes and the type of data of each attribute.

In [ ]:
%%sql
DROP TABLE IF EXISTS CONTRIBUTION Cascade;

CREATE TABLE CONTRIBUTION (
  CMTE_ID                VARCHAR(9) NOT NULL, 
  AMNDT_IND              VARCHAR(1),
  RPT_TP                 VARCHAR(3),
  TRANSACTION_PGI        VARCHAR(5),
  IMAGE_NUM              VARCHAR(18),
  TRANSACTION_TP         VARCHAR(3),
  ENTITY_TP              VARCHAR(3),
  NAME                   VARCHAR(200),
  CITY                   VARCHAR(30),
  STATE                  VARCHAR(2),
  ZIP_CODE               VARCHAR(9),
  EMPLOYER               VARCHAR(38),
  OCCUPATION             VARCHAR(38),
  TRANSACTION_DT         VARCHAR(8),
  TRANSACTION_AMT        NUMERIC(14,2),
  OTHER_ID               VARCHAR(9),
  TRAN_ID                VARCHAR(32),
  FILE_NUM               NUMERIC(22),
  MEMO_CD                VARCHAR(1),
  MEMO_TEXT              VARCHAR(100),
  SUB_ID                 NUMERIC(19) NOT NULL,
  PRIMARY KEY (SUB_ID)
);

 * postgresql://student@/candidate
Done.
Done.

[]

* Add explanation of what each attribute (column) means in the 'CONTRIBUTION' table.

In [ ]:
%%sql
COMMENT ON COLUMN CONTRIBUTION.CMTE_ID IS 'Committee identification';
COMMENT ON COLUMN CONTRIBUTION.AMNDT_IND IS 'Amendment indicator';
COMMENT ON COLUMN CONTRIBUTION.RPT_TP IS 'Report type';
COMMENT ON COLUMN CONTRIBUTION.TRANSACTION_PGI IS 'Primary-general indicator';
COMMENT ON COLUMN CONTRIBUTION.IMAGE_NUM IS 'Image number';
COMMENT ON COLUMN CONTRIBUTION.TRANSACTION_TP IS 'Transaction type';
COMMENT ON COLUMN CONTRIBUTION.ENTITY_TP IS 'Entity type';
COMMENT ON COLUMN CONTRIBUTION.NAME  IS 'Contributor/Lender/Transfer Name';
COMMENT ON COLUMN CONTRIBUTION.CITY IS 'City';
COMMENT ON COLUMN CONTRIBUTION.STATE IS 'STATE';
COMMENT ON COLUMN CONTRIBUTION.ZIP_CODE IS 'ZIP code';
COMMENT ON COLUMN CONTRIBUTION.EMPLOYER IS 'EMPLOYER';
COMMENT ON COLUMN CONTRIBUTION.OCCUPATION IS 'OCCUPATION';
COMMENT ON COLUMN CONTRIBUTION.TRANSACTION_DT IS 'Transaction date (MMDDYYYY)';
COMMENT ON COLUMN CONTRIBUTION.TRANSACTION_AMT IS 'Transaction Amount';
COMMENT ON COLUMN CONTRIBUTION.OTHER_ID IS 'Other identification number';
COMMENT ON COLUMN CONTRIBUTION.TRAN_ID IS 'Transaction ID';
COMMENT ON COLUMN CONTRIBUTION.FILE_NUM IS 'File number / Report ID';
COMMENT ON COLUMN CONTRIBUTION.MEMO_CD IS 'Memo code';
COMMENT ON COLUMN CONTRIBUTION.MEMO_TEXT IS 'Memo text';
COMMENT ON COLUMN CONTRIBUTION.SUB_ID IS 'FEC record number';

 * postgresql://student@/candidate
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

* Get the header and bulk data file.

In [ ]:
!wget https://www.fec.gov/files/bulk-downloads/data_dictionaries/indiv_header_file.csv

--2021-11-01 17:19:43--  https://www.fec.gov/files/bulk-downloads/data_dictionaries/indiv_header_file.csv
Resolving www.fec.gov (www.fec.gov)... 99.84.191.86, 99.84.191.44, 99.84.191.118, ...
Connecting to www.fec.gov (www.fec.gov)|99.84.191.86|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/data_dictionaries/indiv_header_file.csv [following]
--2021-11-01 17:19:43--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/data_dictionaries/indiv_header_file.csv
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.50.0
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.50.0|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 204 [binary/octet-stream]
Saving to: ‘indiv_header_file.csv’

indiv_header_file.c 100%[===================>]     204  --.-KB/s    in 0s

2021-11-01 17:19:44 (10.8 MB/s) - ‘indiv_header_file.csv’ saved [204/204]

In [ ]:
!wget https://www.fec.gov/files/bulk-downloads/2016/indiv16.zip

--2021-11-01 17:19:44--  https://www.fec.gov/files/bulk-downloads/2016/indiv16.zip
Resolving www.fec.gov (www.fec.gov)... 99.84.191.86, 99.84.191.44, 99.84.191.118, ...
Connecting to www.fec.gov (www.fec.gov)|99.84.191.86|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/indiv16.zip [following]
--2021-11-01 17:19:44--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/indiv16.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.50.0
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.50.0|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1455287937 (1.4G) [application/zip]
Saving to: ‘indiv16.zip’

indiv16.zip         100%[===================>]   1.35G  3.31MB/s    in 5m 23s

2021-11-01 17:25:08 (4.29 MB/s) - ‘indiv16.zip’ saved [1455287937/1455287937]

In [ ]:
assert 'indiv_header_file.csv' in os.listdir()

In [ ]:
assert 'indiv16.zip' in os.listdir()

In [ ]:
!unzip -l indiv16.zip

Archive:  indiv16.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
3892672134  2020-12-27 10:56   itcont.txt
377700127  2020-12-27 08:50   by_date/itcont_2016_10151005_20150726.txt
371679218  2020-12-27 08:56   by_date/itcont_2016_20150727_20151029.txt
379533188  2020-12-27 09:02   by_date/itcont_2016_20151030_20160121.txt
391274387  2020-12-27 09:09   by_date/itcont_2016_20160122_20160405.txt
390226325  2020-12-27 09:15   by_date/itcont_2016_20160405_20160523.txt
378807055  2020-12-27 09:22   by_date/itcont_2016_20160523_20160716.txt
348346519  2020-12-27 09:28   by_date/itcont_2016_20160717_20160830.txt
361692187  2020-12-27 09:34   by_date/itcont_2016_20160831_20161003.txt
366591259  2020-12-27 09:40   by_date/itcont_2016_20161004_20161028.txt
379918656  2020-12-27 09:47   by_date/itcont_2016_20161029_20161202.txt
146565531  2020-12-27 09:52   by_date/itcont_2016_20161203_92060702.txt
     1429  2020-12-27 09:55   by_date/itcont_2016_invalid_dates.txt
---------                     -------
7785008015                     13 files

In [ ]:
!unzip indiv16.zip

Archive:  indiv16.zip
  inflating: itcont.txt
  inflating: by_date/itcont_2016_10151005_20150726.txt
  inflating: by_date/itcont_2016_20150727_20151029.txt
  inflating: by_date/itcont_2016_20151030_20160121.txt
  inflating: by_date/itcont_2016_20160122_20160405.txt
  inflating: by_date/itcont_2016_20160405_20160523.txt
  inflating: by_date/itcont_2016_20160523_20160716.txt
  inflating: by_date/itcont_2016_20160717_20160830.txt
  inflating: by_date/itcont_2016_20160831_20161003.txt
  inflating: by_date/itcont_2016_20161004_20161028.txt
  inflating: by_date/itcont_2016_20161029_20161202.txt
  inflating: by_date/itcont_2016_20161203_92060702.txt
  inflating: by_date/itcont_2016_invalid_dates.txt

* Convert text file to csv file

In [ ]:
!head by_date/itcont_2016_20160717_20160830.txt

C00495358|A|Q3|P|201510190200277188|15E|IND|BERZOK, MATTHEW L|BETHESDA|MD|208161771|RYAN MACKINNON VASAPOLI&BERZOK LLP|ATTORNEY|07262016|500|C00401224|SA1030157188283|1031486||* EARMARKED CONTRIBUTION: SEE BELOW|1011920170033160987
C00573758|A|Q3|P2016|201702030200053785|15|IND|ROGERS, DAVID E|BETHESDA|MD|208161809|MCDERMOTT, WILL & EMERY LLP|ATTORNEY|07232016|1000||SA0208173785419|1148131|||2020820171370042762
C00523217|N|YE|P|201607130300083071|15|IND|O'BRIEN, TIMOTHY|WELLESLEY||02481|||08262016|300||SA071816307115|1087925|||2080420161308935237
C00581272|A|Q3|P|201610210200518510|15|IND|SQUIRE, JAMES|SEATTLE|WA|98116|SELF|PHYSICIAN|08242016|700||SA102616851013|1115447|||1120820160032960190
C00600718|A|Q3|G2016|201703239051883064|15|IND|MARSHALL, JOHN L.|DAYTON|OH|45401|GRISMER TIRE|OWNER|07292016|300||SA11AI.10429|1153805|||4032320171380705148
C00600718|A|Q3|G2016|201703239051883064|15|IND|NAILL, SCOTT|SPRINGFIELD|OH|45502|TEACHER|UVCC|08292016|100||SA11AI.10623|1153805|||4032320171380705149
C00600718|A|Q3|G2016|201703239051883064|15|IND|NENNI, JOHN|MIDDLETOWN|OH|45042|RETIRED|RETIRED|08032016|250||SA11AI.10441|1153805|||4032320171380705150
C00600718|A|Q3|G2016|201703239051883065|15|IND|PETRELLI, JOSEPH L.|COLUMBUS|OH|43221|DEMOTECH, INC.|ACTUARY|08192016|1000||SA11AI.10578|1153805|||4032320171380705152
C00600718|A|Q3|G2016|201703239051883065|15|IND|RANSOM, HORACE R.|COLUMBUS|OH|43212|RETIRED|RETIRED|08042016|1000||SA11AI.10525|1153805|||4032320171380705153
C00600718|A|Q3|G2016|201703239051883066|15|IND|WILBER, TODD|WEST CHESTER|OH|45069|CTI RESTAURANTS|PRESIDENT|08092016|799||SA11AI.11695|1153805|||4032320171380705154

In [ ]:
!csvformat -d '|' by_date/itcont_2016_20160717_20160830.txt > con1.csv

In [ ]:
!head by_date/itcont_2016_20160831_20161003.txt

C00600718|A|Q3|G2016|201703239051883062|15|IND|BEER, MICHAEL J.|WASHINGTON|DC|20004|ALIGNMENT GOVERNMENT STRATEGIE|GOVERNMENT RELATIONS|09262016|500||SA11AI.10451|1153805|||4032320171380705144
C00600718|A|12G|G2016|201703239051883526|15|IND|POWELL, STEPHEN|WEST CHESTER|OH|45069|STATE OF OHIO|JUDGE|10032016|250||SA11AI.12425|1153815|||4032320171380706274
C00621458|A|12G|G2016|201701239041448569|15|IND|RODGERS, CHRISTI GAYE|DALLAS|TX|75228|REPUBLIC TITLE OF TEXAS INC|ACCOUNTANT|10022016|300||SA11AI.4179|1140697|X||4012420171368680516
C00572925|N|12G|G2016|201610270200587440|15E|IND|POEHLMAN, MICHAEL|COLUMBIA|MO|652039101|BATTENFELD TECH|ENGINEER|10032016|25|C00401224|SA01051774401878|1137029||*EARMARKED CONTRIBUTION: SEE BELOW|2012420171368759805
C00572925|N|12G|G2016|201610270200587443|15E|IND|STEWART, SHAWN|RICHARDSON|TX|750822650|PAYNE & BLANCHARD LLP|ATTORNEY|10012016|50|C00401224|SA01051774431886|1137029||EARMARKED CONTRIBUTION: SEE BELOW|2012420171368759813
C00572925|N|12G|G2016|201610270200587310|15E|IND|LANGE, DAVID|LAKE SAINT LOUIS|MO|633671872|NOT EMPLOYED|NOT EMPLOYED|10022016|5|C00401224|SA01051773101486|1137029||EARMARKED CONTRIBUTION: SEE BELOW|2012420171368759413
C00572925|N|12G|G2016|201610270200589358|15E|IND|ROSSER, WILLIAM|HAPPY VALLEY|OR|970866392|NOT EMPLOYED|NOT EMPLOYED|10022016|250|C00401224|SA01051793587630|1137029||* EARMARKED CONTRIBUTION: SEE BELOW|2012420171368765557
C00572925|N|12G|G2016|201610270200586881|15E|IND|MURRA, LAURA|BERKELEY|CA|947081628|NOT EMPLOYED|NOT EMPLOYED|10022016|3|C00401224|SA0105176881201|1137029||EARMARKED CONTRIBUTION:SEE BELOW|2012420171368758128
C00572925|N|12G|G2016|201610270200588417|15E|IND|LOUIE, EDMUND|SAN FRANCISCO|CA|941213323|CALIFORNIA PACIFIC MEDICAL CENTER|REGISTERED NURSE|10032016|10|C00401224|SA01051784174807|1137029||EARMARKED CONTRIBUTION: SEE BELOW|2012420171368762734
C00572925|N|12G|G2016|201610270200586890|15E|IND|SPECK, CRAIG J|BOSTON|MA|021181215|NOT EMPLOYED|NOT EMPLOYED|10032016|250|C00401224|SA0105176890227|1137029||EARMARKED CONTRIBUTION: SEE BELOW|2012420171368758154

In [ ]:
!csvformat -d '|' by_date/itcont_2016_20160831_20161003.txt > con2.csv

In [ ]:
!head by_date/itcont_2016_20161004_20161028.txt

C00558379|N|YE|P|201602030300046477|15|IND|OMAN, ROBERT|CHESAPEAKE|VA|23322|OMAN FUNERAL HOME|PRESIDENT|10252016|340||SA030716647712|1053853|||2030820161276164505
C00592154|A|30G|G2016|201701289041534382|15|IND|BASSETT, BARTON|SAN MATEO|CA|944021152|MORGAN, LEWIS & BOCKIUS LLP|ATTORNEY|10242016|1000||VR0N8J937E9|1142744|||4013020171369063343
C00592154|A|30G|G2016|201701289041534382|15|IND|BAUER, EUGENE|SAN RAFAEL|CA|949012361|SELF-EMPLOYED|PHYSICIAN|10282016|250||VR0N8JEGEA8|1142744|||4013020171369063344
C00592154|A|30G|G2016|201701289041534417|15|IND|SQUERI, THOMAS|GILROY|CA|950209449|GRANITE ROCK COMPANY|EXECUTIVE|10282016|500||VR0N8JEBZQ7|1142744|||4013020171369063450
C00592154|A|30G|G2016|201701289041534418|15|IND|STEPHENS, RICHARD|SAN FRANCISCO|CA|941082203|ACADEMY OF ART|FOUNDER|10242016|2700||VR0N8J97MG4|1142744|||4013020171369063451
C00592154|A|30G|G2016|201701289041534386|15|IND|CAMPOS, TONY|WATSONVILLE|CA|950761021|BERKSHIRE HATHAWAY REAL TIME REALTY|REALTOR|10272016|500||VR0N8JDK4F7|1142744|||4013020171369063355
C00592154|A|30G|G2016|201701289041534386|15|IND|CATRINA, OTTO|CASTRO VALLEY|CA|945461027|NATIONAL ASSOC. OF REALTORS|REALTOR|10242016|500||VR0N8JZMXT1|1142744|||4013020171369063357
C00592154|A|30G|G2016|201701289041534388|15|IND|DANIELS, CLAUDIA|MONTEREY|CA|939403232|SELF-EMPLOYED|PSYCHOLOGIST|10242016|250||VR0N8J981R4|1142744|||4013020171369063361
C00592154|A|30G|G2016|201701289041534388|15|IND|DAVI, FRANK|MONTEREY|CA|939401010|RETIRED|RETIRED|10272016|500||VR0N8JDJRP7|1142744|||4013020171369063363
C00592154|A|30G|G2016|201701289041534384|15|IND|BOSSO, SUSAN|SANTA CRUZ|CA|950601947|NON-PROFIT VOLUNTEER|UNEMPLOYED|10282016|250||VR0N8JERRM1|1142744|||4013020171369063349

In [ ]:
!csvformat -d '|' by_date/itcont_2016_20161004_20161028.txt > con3.csv

In [ ]:
!head by_date/itcont_2016_20161029_20161202.txt

C00570564|A|YE|P2016|201607180200240904|15|IND|ROGERS, RONALD O||FL||N/A|SELF-EMPLOYED|11302016|250||SA072216090427|1090083|||2080520161308959985
C00578013|A|YE|P2016|201608050200329757|15|IND|MUENDEL, SHARON|MILWAUKEE|WI|532071963|RETIRED|RETIRED|11162016|250||SA09151697574274|1099259|||1032020170033936396
C00193623|A|YE|P|201605050200174767|15|IND|GEPSMAN, MARTY|CHICAGO|IL|606112119|CME|BOARD OF DIRECTORS|11102016|500||SA052316476766|1067969|||2052420161293161000
C00582809|A|YE|P|201605090200176442|15E|IND|WEAVER, RANSOM|HAVERTOWN|PA|190831430|SELF-EMPLOYED|SOFTWARE DEVELOPER|11292016|250|C00401224|SA0523166442767|1067988||* EARMARKED CONTRIBUTION: SEE BELOW|2052420161293164399
C00591776|N|YE|P2016|201601299004752303|15|IND|ROZIER, JAMES|MONCKS CORNER|SC|29461|ROZIER GROUP, LLC|CONSULTANT|11272016|500||SA11AI.4326|1044679|X||4020320161261469832
C00591776|N|YE|P2016|201601299004752303|15|IND|SABB, RONNIE A.|KINGSTREE|SC|29556|LAW OFFICE OF RONNIE A SABB LLC|OWNER/ATTORNEY|11272016|2700||SA11AI.4324|1044679|X||4020320161261469834
C00578484|A|YE|P|201602010200027368|15E|IND|HOWARD, BRYAN S|PHOENIX|AZ|850162368|PLANNED PARENTHOOD|EXECUTIVE|11202016|500|C00401224|SA02111673682302|1049013||* EARMARKED CONTRIBUTION: SEE BELOW|1101420160032014883
C00592154|A|30G|G2016|201701289041534381|15|IND|BALESTRERI JR, TEDDY|MONTEREY|CA|939401627|CANNERY ROW CO.|DIRECTOR|11072016|1000||VR0N8JRNJJ9|1142744|||4013020171369063342
C00592154|A|30G|G2016|201701289041534382|15|IND|BELLECI, BARNEY|PEBBLE BEACH|CA|939533050|RETIRED|RETIRED|11042016|500||VR0N8JNKZS9|1142744|||4013020171369063345
C00592154|A|30G|G2016|201701289041534383|15|IND|BITAR, MIKE|SALINAS|CA|939012626|EXECUTIVE ESTATES|OWNER, BROKER|11012016|114||VR0N8JTA1E9|1142744||* IN-KIND: OFFICE SPACE|4013020171369063346

In [ ]:
!csvformat -d '|' by_date/itcont_2016_20161029_20161202.txt > con4.csv

* Stack files.

In [ ]:
!csvstack indiv_header_file.csv con1.csv > con5.csv

In [ ]:
!csvstack indiv_header_file.csv con2.csv > con6.csv

In [ ]:
!csvstack indiv_header_file.csv con3.csv > con7.csv

In [ ]:
!csvstack indiv_header_file.csv con4.csv > con8.csv

* Count the number of rows in the data file.

In [ ]:
!wc -l con5.csv

1908652 con5.csv

In [ ]:
!wc -l con6.csv

1946526 con6.csv

In [ ]:
!wc -l con7.csv

1955026 con7.csv

In [ ]:
!wc -l con8.csv

1988501 con8.csv

In [ ]:
1908652+1946526+1955026+1988501

7798705

* Check the column names of the data file.

In [ ]:
!csvcut -n con5.csv

  1: CMTE_ID
  2: AMNDT_IND
  3: RPT_TP
  4: TRANSACTION_PGI
  5: IMAGE_NUM
  6: TRANSACTION_TP
  7: ENTITY_TP
  8: NAME
  9: CITY
 10: STATE
 11: ZIP_CODE
 12: EMPLOYER
 13: OCCUPATION
 14: TRANSACTION_DT
 15: TRANSACTION_AMT
 16: OTHER_ID
 17: TRAN_ID
 18: FILE_NUM
 19: MEMO_CD
 20: MEMO_TEXT
 21: SUB_ID

* Load data into the database.

In [ ]:
!pwd

/home/ubuntu/Exercise  2 (Group)

In [ ]:
%%sql
COPY CONTRIBUTION FROM '/home/ubuntu/Exercise  2 (Group)/con5.csv'
CSV
HEADER;

 * postgresql://student@/candidate
1908651 rows affected.

[]

In [ ]:
%%sql
COPY CONTRIBUTION FROM '/home/ubuntu/Exercise  2 (Group)/con6.csv'
CSV
HEADER;

 * postgresql://student@/candidate
1946525 rows affected.

[]

In [ ]:
%%sql
COPY CONTRIBUTION FROM '/home/ubuntu/Exercise  2 (Group)/con7.csv'
CSV
HEADER;

 * postgresql://student@/candidate
1955025 rows affected.

[]

In [ ]:
%%sql
COPY CONTRIBUTION FROM '/home/ubuntu/Exercise  2 (Group)/con8.csv'
CSV
HEADER;

 * postgresql://student@/candidate
1988500 rows affected.

[]

* Count the rows in 'CONTRIBUTION' table to check if all data has been loaded successfully: the number of rows affected is 4 less than the number of rows in the data file, because the header of the 4 files that were combined is not loaded to the table.

In [ ]:
%%sql
SELECT COUNT(*) FROM CONTRIBUTION;

 * postgresql://student@/candidate
1 rows affected.

[(7798701,)]

* View the table to check if the data format is identical to that of the original data file.

In [ ]:
%%sql
SELECT *
FROM CONTRIBUTION
LIMIT 5;

 * postgresql://student@/candidate
5 rows affected.

[('C00573758', 'A', 'Q3', 'P2016', '201702030200053785', '15', 'IND', 'ROGERS, DAVID E', 'BETHESDA', 'MD', '208161809', 'MCDERMOTT, WILL & EMERY LLP', 'ATTORNEY', '07232016', Decimal('1000.00'), None, 'SA0208173785419', Decimal('1148131'), None, None, Decimal('2020820171370042762')),
 ('C00523217', 'N', 'YE', 'P', '201607130300083071', '15', 'IND', "O'BRIEN, TIMOTHY", 'WELLESLEY', None, '02481', None, None, '08262016', Decimal('300.00'), None, 'SA071816307115', Decimal('1087925'), None, None, Decimal('2080420161308935237')),
 ('C00581272', 'A', 'Q3', 'P', '201610210200518510', '15', 'IND', 'SQUIRE, JAMES', 'SEATTLE', 'WA', '98116', 'SELF', 'PHYSICIAN', '08242016', Decimal('700.00'), None, 'SA102616851013', Decimal('1115447'), None, None, Decimal('1120820160032960190')),
 ('C00600718', 'A', 'Q3', 'G2016', '201703239051883064', '15', 'IND', 'MARSHALL, JOHN L.', 'DAYTON', 'OH', '45401', 'GRISMER TIRE', 'OWNER', '07292016', Decimal('300.00'), None, 'SA11AI.10429', Decimal('1153805'), None, None, Decimal('4032320171380705148')),
 ('C00600718', 'A', 'Q3', 'G2016', '201703239051883064', '15', 'IND', 'NAILL, SCOTT', 'SPRINGFIELD', 'OH', '45502', 'TEACHER', 'UVCC', '08292016', Decimal('100.00'), None, 'SA11AI.10623', Decimal('1153805'), None, None, Decimal('4032320171380705149'))]

## Candidate Financial Summary Table

* Create 'CAND_FINANCIAL' table with all of its attributes and the type of data of each attribute.

In [ ]:
%%sql
DROP TABLE IF EXISTS CAND_FINANCIAL Cascade;

CREATE TABLE CAND_FINANCIAL (
  CAND_ID                VARCHAR(9) NOT NULL, 
  CAND_NAME              VARCHAR(200),
  CAND_ICI               VARCHAR(1),
  PTY_CD                 VARCHAR(1),
  CAND_PTY_AFFILIATION   VARCHAR(3),
  TTL_RECEIPTS           NUMERIC(14,2),
  TRANS_FROM_AUTH        NUMERIC(14,2),
  TTL_DISB               NUMERIC(14,2),
  TRANS_TO_AUTH          NUMERIC(14,2),
  COH_BOP                NUMERIC(14,2),
  COH_COP                NUMERIC(14,2),
  CAND_CONTRIB           NUMERIC(14,2),
  CAND_LOANS             NUMERIC(14,2),
  OTHER_LOANS            NUMERIC(14,2),
  CAND_LOAN_REPAY        NUMERIC(14,2),
  OTHER_LOAN_REPAY       NUMERIC(14,2),
  DEBTS_OWED_BY          NUMERIC(14,2),
  TTL_INDIV_CONTRIB      NUMERIC(14,2),
  CAND_OFFICE_ST         VARCHAR(2),
  CAND_OFFICE_DISTRICT   VARCHAR(2),
  SPEC_ELECTION          VARCHAR(1),
  PRIM_ELECTION          VARCHAR(1),
  RUN_ELECTION           VARCHAR(1),
  GEN_ELECTION           VARCHAR(1),
  GEN_ELECTION_PRECENT   NUMERIC(7,4),
  OTHER_POL_CMTE_CONTRIB NUMERIC(14,2),
  POL_PTY_CONTRIB        NUMERIC(14,2),
  CVG_END_DT             DATE,
  INDIV_REFUNDS          NUMERIC(14,2),
  CMTE_REFUNDS           NUMERIC(14,2),
  PRIMARY KEY (CAND_ID)
);

 * postgresql://student@/candidate
Done.
Done.

[]

* Add explanation of what data the 'CAND_FINANCIAL' table contains.

In [ ]:
%%sql
COMMENT ON TABLE CAND_FINANCIAL IS 
'All_candidate Financial_summary (Weball16): The all candidates file contains summary financial information for each candidate who raised or spent money during the period, regardless of when they are up for election.';

 * postgresql://student@/candidate
Done.

[]

* Add explanation of what each attribute (column) means in the 'CAND_FINANCIAL' table.

In [ ]:
%%sql
COMMENT ON COLUMN CAND_FINANCIAL.CAND_ID IS 'Candidate identification';
COMMENT ON COLUMN CAND_FINANCIAL.CAND_NAME IS 'Candidate name';
COMMENT ON COLUMN CAND_FINANCIAL.CAND_ICI IS 'Incumbent challenger status';
COMMENT ON COLUMN CAND_FINANCIAL.PTY_CD IS 'Party code';
COMMENT ON COLUMN CAND_FINANCIAL.TTL_RECEIPTS IS 'Total receipts';
COMMENT ON COLUMN CAND_FINANCIAL.TRANS_FROM_AUTH IS 'Transfers from authorized committees';
COMMENT ON COLUMN CAND_FINANCIAL.TTL_DISB IS 'Total disbursements';
COMMENT ON COLUMN CAND_FINANCIAL.TRANS_TO_AUTH IS 'Transfers to authorized committees';
COMMENT ON COLUMN CAND_FINANCIAL.COH_BOP IS 'Beginning cash';
COMMENT ON COLUMN CAND_FINANCIAL.COH_COP IS 'Ending cash';
COMMENT ON COLUMN CAND_FINANCIAL.CAND_CONTRIB IS 'Contributions from candidate';
COMMENT ON COLUMN CAND_FINANCIAL.CAND_LOANS IS 'Loans from candidate';
COMMENT ON COLUMN CAND_FINANCIAL.OTHER_LOANS IS 'Other loans';
COMMENT ON COLUMN CAND_FINANCIAL.CAND_LOAN_REPAY IS 'Candidate loan repayments';
COMMENT ON COLUMN CAND_FINANCIAL.OTHER_LOAN_REPAY IS 'Other loan repayments';
COMMENT ON COLUMN CAND_FINANCIAL.DEBTS_OWED_BY IS 'Debts owed by';
COMMENT ON COLUMN CAND_FINANCIAL.TTL_INDIV_CONTRIB IS 'Total individual contributions';
COMMENT ON COLUMN CAND_FINANCIAL.CAND_OFFICE_ST IS 'Candidate state';
COMMENT ON COLUMN CAND_FINANCIAL.CAND_OFFICE_DISTRICT IS 'Candidate district';
COMMENT ON COLUMN CAND_FINANCIAL.SPEC_ELECTION IS 'Special election status';
COMMENT ON COLUMN CAND_FINANCIAL.PRIM_ELECTION IS 'Primary election status';
COMMENT ON COLUMN CAND_FINANCIAL.RUN_ELECTION IS 'Runoff election status';
COMMENT ON COLUMN CAND_FINANCIAL.GEN_ELECTION IS 'General election status';
COMMENT ON COLUMN CAND_FINANCIAL.GEN_ELECTION_PRECENT IS 'General election percentage';
COMMENT ON COLUMN CAND_FINANCIAL.OTHER_POL_CMTE_CONTRIB IS 'Contributions from other political committees';
COMMENT ON COLUMN CAND_FINANCIAL.POL_PTY_CONTRIB IS 'Contributions from party committees';
COMMENT ON COLUMN CAND_FINANCIAL.CVG_END_DT IS 'Coverage end date';
COMMENT ON COLUMN CAND_FINANCIAL.INDIV_REFUNDS IS 'Refunds to individuals';
COMMENT ON COLUMN CAND_FINANCIAL.CMTE_REFUNDS IS 'Refunds to committees';

 * postgresql://student@/candidate
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

* Get the bulk data file.

In [ ]:
!wget https://www.fec.gov/files/bulk-downloads/2016/weball16.zip

--2021-11-01 17:32:51--  https://www.fec.gov/files/bulk-downloads/2016/weball16.zip
Resolving www.fec.gov (www.fec.gov)... 99.84.191.86, 99.84.191.105, 99.84.191.118, ...
Connecting to www.fec.gov (www.fec.gov)|99.84.191.86|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/weball16.zip [following]
--2021-11-01 17:32:52--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/weball16.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.49.4
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.49.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 132345 (129K) [application/zip]
Saving to: ‘weball16.zip’

weball16.zip        100%[===================>] 129.24K   596KB/s    in 0.2s

2021-11-01 17:32:52 (596 KB/s) - ‘weball16.zip’ saved [132345/132345]

In [ ]:
assert 'weball16.zip' in os.listdir()

In [ ]:
!unzip -l weball16.zip

Archive:  weball16.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
   362051  2021-11-01 06:20   weball16.txt
---------                     -------
   362051                     1 file

In [ ]:
!unzip weball16.zip

Archive:  weball16.zip
  inflating: weball16.txt

In [ ]:
!head weball16.txt

H4AK00123|DUNBAR, FORREST|C|1|DEM|550|0|7563.97|0|7367.75|353.78|0|0|0|0|0|0|0|AK|00||||||0|0|01/27/2016|0|0
H0AK00097|COX, JOHN R.|C|2|REP|0|0|0|0|0|0|0|0|0|0|0|0|0|AK|00||||||0|0|07/18/2016|0|0
H6AK00045|YOUNG, DONALD E|I|2|REP|1103561.86|0|1322055.12|0|488220.12|269726.86|0|0|0|0|0|0|640393.04|AK|00||||||459603.99|0|12/31/2016|2250|3000
H8AK00116|LEDOUX, GABRIELLE R|C|2|REP|0|0|0|0|479|479|0|0|0|0|0|366000|0|AK|00||||||0|0|12/31/2016|0|0
H6AK00235|LINDBECK, STEVE||1|DEM|1102309.77|0|1098098.09|0|0|4211.68|17555|0|0|0|0|10800|999400.98|AK|||||||67074.61|5000|12/31/2016|884.01|0
H4AL01123|BYRNE, BRADLEY ROBERTS|I|2|REP|1367469.77|33152|1172750.28|0|251598.84|446318.33|0|0|0|0|0|0|491117.77|AL|01||||||843200|0|12/31/2016|1100|0
H4AL01149|FINCHER, CHAD|C|2|REP|0|0|0|0|1904.14|1904.14|0|0|0|0|0|38000|0|AL|01||||||0|0|06/30/2015|0|0
H6AL01060|YOUNG JR, LARRY DEAN|C|2|REP|178766.88|0|178474.16|0|0|0|0|159000|0|0|0|0|19766.88|AL|01||||||0|0|04/14/2016|0|0
H6AL02167|MATHIS, NATHAN|C|1|DEM|36844|0|36844|0|0|0|0|36844|0|0|0|19757|0|AL|02||||||0|0|11/16/2016|0|0
H0AL02087|ROBY, MARTHA|I|2|REP|1404260.12|0|1850535.64|0|491726.24|45450.72|0|0|0|0|0|0|574878.88|AL|02||||||828775|0|12/31/2016|17550|4283.03

* Convert text file to csv file

In [ ]:
!csvformat -d '|' weball16.txt > weball16.csv

* Count the number of rows in the data file.

In [ ]:
!wc -l weball16.csv

2906 weball16.csv

* Load data into the database.

In [ ]:
!pwd

/home/ubuntu/Exercise  2 (Group)

In [ ]:
%%sql
COPY CAND_FINANCIAL FROM '/home/ubuntu/Exercise  2 (Group)/weball16.csv'
CSV;

 * postgresql://student@/candidate
2906 rows affected.

[]

* Count the rows in 'CAND_FINANCIAL' table to check if all data has been loaded successfully: the number of rows are same since there is no header file for the data file.

In [ ]:
%%sql
SELECT COUNT(*)
FROM CAND_FINANCIAL

 * postgresql://student@/candidate
1 rows affected.

[(2906,)]

* View the table to check if the data format is identical to that of the original data file.

In [ ]:
%%sql
SELECT *
FROM CAND_FINANCIAL
LIMIT 5;

 * postgresql://student@/candidate
5 rows affected.

[('H4AK00123', 'DUNBAR, FORREST', 'C', '1', 'DEM', Decimal('550.00'), Decimal('0.00'), Decimal('7563.97'), Decimal('0.00'), Decimal('7367.75'), Decimal('353.78'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), 'AK', '00', None, None, None, None, None, Decimal('0.00'), Decimal('0.00'), datetime.date(2016, 1, 27), Decimal('0.00'), Decimal('0.00')),
 ('H0AK00097', 'COX, JOHN R.', 'C', '2', 'REP', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), 'AK', '00', None, None, None, None, None, Decimal('0.00'), Decimal('0.00'), datetime.date(2016, 7, 18), Decimal('0.00'), Decimal('0.00')),
 ('H6AK00045', 'YOUNG, DONALD E', 'I', '2', 'REP', Decimal('1103561.86'), Decimal('0.00'), Decimal('1322055.12'), Decimal('0.00'), Decimal('488220.12'), Decimal('269726.86'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('640393.04'), 'AK', '00', None, None, None, None, None, Decimal('459603.99'), Decimal('0.00'), datetime.date(2016, 12, 31), Decimal('2250.00'), Decimal('3000.00')),
 ('H8AK00116', 'LEDOUX, GABRIELLE R', 'C', '2', 'REP', Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('479.00'), Decimal('479.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('366000.00'), Decimal('0.00'), 'AK', '00', None, None, None, None, None, Decimal('0.00'), Decimal('0.00'), datetime.date(2016, 12, 31), Decimal('0.00'), Decimal('0.00')),
 ('H6AK00235', 'LINDBECK, STEVE', None, '1', 'DEM', Decimal('1102309.77'), Decimal('0.00'), Decimal('1098098.09'), Decimal('0.00'), Decimal('0.00'), Decimal('4211.68'), Decimal('17555.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('10800.00'), Decimal('999400.98'), 'AK', None, None, None, None, None, None, Decimal('67074.61'), Decimal('5000.00'), datetime.date(2016, 12, 31), Decimal('884.01'), Decimal('0.00'))]

## Linkage Table

* Create 'cclinkages' table with all of its attributes and the type of data of each attribute.

In [ ]:
%%sql
DROP TABLE IF EXISTS cclinkages Cascade;
create TABLE  cclinkages (CAND_ID varchar(9) NOT NULL, 
                          CAND_ELECTION_YR numeric(4) NOT NULL, 
                          FEC_ELECTION_YR numeric(4) NOT NULL, 
                          CMTE_ID varchar(9), 
                          CMTE_TP varchar(1), 
                          CMTE_DSGN varchar(1) Check (CMTE_DSGN in('A', 'B', 'D', 'J', 'P' ,'U')), 
                          LINKAGE_ID numeric(12) NOT NULL,
                          PRIMARY KEY (LINKAGE_ID, CAND_ID)
                         );

 * postgresql://student@/candidate
Done.
Done.

[]

* Add explanation of what data the 'cclinkages' table contains.

In [ ]:
%%sql
COMMENT ON TABLE cclinkages IS 
'Candidate-committee linkages (CCL16) 2015-16: links entities (1) and (2). It contains one record for each candidate to committee linkage';

 * postgresql://student@/candidate
Done.

[]

* Add explanation of what each attribute (column) means in the 'CAND_FINANCIAL' table.

In [ ]:
%%sql
COMMENT ON COLUMN cclinkages.CAND_ID IS 'Candidate identification';
COMMENT ON COLUMN cclinkages.CAND_ELECTION_YR IS 'Candidate election year';
COMMENT ON COLUMN cclinkages.FEC_ELECTION_YR IS 'FEC election year';
COMMENT ON COLUMN cclinkages.CMTE_ID IS 'Committe identification';
COMMENT ON COLUMN cclinkages.CMTE_TP IS 'Committee type';
COMMENT ON COLUMN cclinkages.CMTE_DSGN IS 'Comittee designation';
COMMENT ON COLUMN cclinkages.LINKAGE_ID IS 'Linkage ID';

 * postgresql://student@/candidate
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

* Get the header and bulk data file.

In [ ]:
!wget https://www.fec.gov/files/bulk-downloads/data_dictionaries/ccl_header_file.csv

--2021-11-01 17:33:23--  https://www.fec.gov/files/bulk-downloads/data_dictionaries/ccl_header_file.csv
Resolving www.fec.gov (www.fec.gov)... 99.84.191.44, 99.84.191.118, 99.84.191.105, ...
Connecting to www.fec.gov (www.fec.gov)|99.84.191.44|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/data_dictionaries/ccl_header_file.csv [following]
--2021-11-01 17:33:23--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/data_dictionaries/ccl_header_file.csv
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.49.56
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.49.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 79 [binary/octet-stream]
Saving to: ‘ccl_header_file.csv’

ccl_header_file.csv 100%[===================>]      79  --.-KB/s    in 0s

2021-11-01 17:33:23 (4.19 MB/s) - ‘ccl_header_file.csv’ saved [79/79]

In [ ]:
!wget https://www.fec.gov/files/bulk-downloads/2016/ccl16.zip

--2021-11-01 17:33:25--  https://www.fec.gov/files/bulk-downloads/2016/ccl16.zip
Resolving www.fec.gov (www.fec.gov)... 99.84.191.44, 99.84.191.118, 99.84.191.105, ...
Connecting to www.fec.gov (www.fec.gov)|99.84.191.44|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/ccl16.zip [following]
--2021-11-01 17:33:25--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2016/ccl16.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.49.56
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.49.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 66791 (65K) [application/zip]
Saving to: ‘ccl16.zip’

ccl16.zip           100%[===================>]  65.23K  --.-KB/s    in 0.1s

2021-11-01 17:33:25 (466 KB/s) - ‘ccl16.zip’ saved [66791/66791]

In [ ]:
assert 'ccl_header_file.csv' in os.listdir()

In [ ]:
assert 'ccl16.zip' in os.listdir()

In [ ]:
!unzip -l ccl16.zip

Archive:  ccl16.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
   262686  2020-12-31 07:36   ccl.txt
---------                     -------
   262686                     1 file

In [ ]:
!unzip ccl16.zip

Archive:  ccl16.zip
  inflating: ccl.txt

In [ ]:
!head ccl.txt

H0AK00097|2014|2016|C00525261|H|P|201860
H0AL02087|2016|2016|C00462143|H|P|201861
H0AL02087|2016|2016|C00493783|H|J|201862
H0AL05049|2008|2016|C00239038|H|P|201863
H0AL05163|2016|2016|C00464149|H|P|201864
H0AL06088|2010|2016|C00464222|H|P|201865
H0AL07086|2016|2016|C00458976|H|P|201866
H0AL07094|2010|2016|C00460410|H|P|201867
H0AL07177|2012|2016|C00482059|H|P|201868
H0AR01083|2016|2016|C00462374|H|P|201869

* Convert text file to csv file.

In [ ]:
!csvformat -d '|' ccl.txt > ccl.csv

* Stack files

In [ ]:
!csvstack ccl_header_file.csv ccl.csv > ccl2.csv
# Stack the files

* Count the number of rows in the data file.

In [ ]:
!wc -l ccl2.csv
# This is the total row entry in the file

6407 ccl2.csv

* Check the column names of the data file.

In [ ]:
!csvcut -n ccl2.csv

  1: CAND_ID
  2: CAND_ELECTION_YR
  3: FEC_ELECTION_YR
  4: CMTE_ID
  5: CMTE_TP
  6: CMTE_DSGN
  7: LINKAGE_ID

* Load data into the database.

In [ ]:
!pwd

/home/ubuntu/Exercise  2 (Group)

In [ ]:
%%sql
COPY cclinkages FROM '/home/ubuntu/Exercise  2 (Group)/ccl2.csv'
CSV
HEADER;

 * postgresql://student@/candidate
6406 rows affected.

[]

* Count the rows in 'cclinkages' table to check if all data has been loaded successfully: the number of rows affected is one less than the number of rows in the data file, because the header is not affected.

In [ ]:
%%sql
SELECT COUNT(*) FROM cclinkages;

 * postgresql://student@/candidate
1 rows affected.

[(6406,)]

* View the table to check if the data format is identical to that of the original data file.

In [ ]:
%%sql
SELECT * FROM cclinkages
LIMIT 5;

 * postgresql://student@/candidate
5 rows affected.

[('H0AL02087', Decimal('2016'), Decimal('2016'), 'C00462143', 'H', 'P', Decimal('201861')),
 ('H0AL02087', Decimal('2016'), Decimal('2016'), 'C00493783', 'H', 'J', Decimal('201862')),
 ('H0AL05049', Decimal('2008'), Decimal('2016'), 'C00239038', 'H', 'P', Decimal('201863')),
 ('H0AL05163', Decimal('2016'), Decimal('2016'), 'C00464149', 'H', 'P', Decimal('201864')),
 ('H0AL06088', Decimal('2010'), Decimal('2016'), 'C00464222', 'H', 'P', Decimal('201865'))]

## Adding Foreign Keys

* Make 'CAND_ID' as a foreign key in table 'cclinkages' and connect with those attributes in the 'CANDIDATE' table.

In [ ]:
%%sql
--ALTER TABLE cclinkages add FOREIGN KEY(CAND_ID) references CANDIDATE (CAND_ID) ON DELETE CASCADE;

* Make 'CMTE_ID' as a foreign key in table 'cclinkages' and connect with those attributes in the 'COMMITTEE' table.

In [ ]:
%%sql
--ALTER TABLE cclinkages add FOREIGN KEY(CMTE_ID) references COMMITTEE (CMTE_ID);

* Make 'CMTE_ID' as a foreign key to table 'CONTRIBUTION' and connect with those attributes in the 'COMMITTEE' table.

In [ ]:
%%sql
--ALTER TABLE CONTRIBUTION add FOREIGN KEY(CMTE_ID) references COMMITTEE (CMTE_ID);

* Make 'CAND_ID' as a foreign key to table 'CAND_FINANCIAL' and connect with those attributes in the 'CANDIDATE' table.

In [ ]:
%%sql
--ALTER TABLE CAND_FINANCIAL add FOREIGN KEY(CAND_ID) references CANDIDATE (CAND_ID);

#### Observations:

* The foreign keys associated with the tables are not being created since there are IDs present in the child tables (cclinkages, cand_financial, contribution) which are not present in parent tables (candidate, committee) because of which the foreign keys are not being generated.
* We would need to omit those rows of data in order to create the foreign keys.

# Problem 5 
Your sponsor asked you to manipulate the original candidate’s name. Write a query that uses built-in functions. See table 9-6 from the link   https://www.postgresql.org/docs/9.1/functions-string.html.  Split the candidate’s name composite attribute (CAND_NAME) in “candidate master” entities into two parts: one to hold the last name and the other to hold first names. For example: “Obaidi, Ali A” would split into “Obaidi” as last name and “Ali A” as first names. Write Alter tables statements for table “candidate master” to add two extra columns for first names and last name and then use the update SQL statement to construct (i.e. populate) the two new columns.

* View the 'CANDIDATE' table.

In [ ]:
%%sql
SELECT * 
FROM CANDIDATE
LIMIT 5;

 * postgresql://student@/candidate
5 rows affected.

[('H0AL02087', 'ROBY, MARTHA', 'REP', Decimal('2016'), 'AL', 'H', '02', 'I', 'C', 'C00462143', 'PO BOX 195', None, 'MONTGOMERY', 'AL', '36101'),
 ('H0AL02095', 'JOHN, ROBERT E JR', 'IND', Decimal('2016'), 'AL', 'H', '02', 'C', 'N', None, '1465 W OVERBROOK RD', None, 'MILLBROOK', 'AL', '36054'),
 ('H0AL05049', 'CRAMER, ROBERT E "BUD" JR', 'DEM', Decimal('2008'), 'AL', 'H', '05', None, 'P', 'C00239038', 'PO BOX 2621', None, 'HUNTSVILLE', 'AL', '35804'),
 ('H0AL05163', 'BROOKS, MO', 'REP', Decimal('2016'), 'AL', 'H', '05', 'I', 'C', 'C00464149', '7610 FOXFIRE DRIVE', None, 'HUNTSVILLE', 'AL', '35802'),
 ('H0AL06088', 'COOKE, STANLEY KYLE', 'REP', Decimal('2010'), 'AL', 'H', '06', 'C', 'N', 'C00464222', '723 CHERRY BROOK ROAD', None, 'KIMBERLY', 'AL', '35091')]

* Add two columns to the table: one for last name ('cand_lname') and one for first name ('cand_fname').

In [ ]:
%%sql

ALTER TABLE CANDIDATE ADD column cand_lname VARCHAR(100);
ALTER TABLE CANDIDATE ADD column cand_fname VARCHAR(100);

 * postgresql://student@/candidate
Done.
Done.

[]

* View table to see if the columns have been successfully added.

In [ ]:
%%sql
SELECT * 
FROM CANDIDATE
LIMIT 5;

 * postgresql://student@/candidate
5 rows affected.

[('H0AL02087', 'ROBY, MARTHA', 'REP', Decimal('2016'), 'AL', 'H', '02', 'I', 'C', 'C00462143', 'PO BOX 195', None, 'MONTGOMERY', 'AL', '36101', None, None),
 ('H0AL02095', 'JOHN, ROBERT E JR', 'IND', Decimal('2016'), 'AL', 'H', '02', 'C', 'N', None, '1465 W OVERBROOK RD', None, 'MILLBROOK', 'AL', '36054', None, None),
 ('H0AL05049', 'CRAMER, ROBERT E "BUD" JR', 'DEM', Decimal('2008'), 'AL', 'H', '05', None, 'P', 'C00239038', 'PO BOX 2621', None, 'HUNTSVILLE', 'AL', '35804', None, None),
 ('H0AL05163', 'BROOKS, MO', 'REP', Decimal('2016'), 'AL', 'H', '05', 'I', 'C', 'C00464149', '7610 FOXFIRE DRIVE', None, 'HUNTSVILLE', 'AL', '35802', None, None),
 ('H0AL06088', 'COOKE, STANLEY KYLE', 'REP', Decimal('2010'), 'AL', 'H', '06', 'C', 'N', 'C00464222', '723 CHERRY BROOK ROAD', None, 'KIMBERLY', 'AL', '35091', None, None)]

* Split column 'CAND_NAME' based on comma (,) and add the first part to column 'CAND_LNAME' and the second part to column 'CAND_FNAME'.

In [ ]:
%%sql
UPDATE CANDIDATE 
SET cand_lname = split_part(cand_name, ', ', 1),
    cand_fname = split_part(cand_name, ', ', 2);

 * postgresql://student@/candidate
7395 rows affected.

[]

* Check the 'CANDIDATE' table to see if the data has been placed to the commanded columns properly.

In [ ]:
%%sql
SELECT * 
FROM CANDIDATE
LIMIT 5;

 * postgresql://student@/candidate
5 rows affected.

[('H0NC04147', 'ROCHE, FRANK', 'REP', Decimal('2016'), 'NC', 'H', '02', 'C', 'C', 'C00576983', None, None, 'CARY', 'NC', '27513', 'ROCHE', 'FRANK'),
 ('H6OH07127', 'RICH, ROY', 'DEM', Decimal('2016'), 'OH', 'H', '07', 'C', 'C', 'C00589085', 'PO BOX 33', None, 'GRAFTON', 'OH', '44044', 'RICH', 'ROY'),
 ('P20002713', 'WEST, ALLEN', 'NNE', Decimal('2012'), 'US', 'P', '00', 'C', 'N', None, None, None, 'SANTA ANA', 'CA', '92705', 'WEST', 'ALLEN'),
 ('P60021722', 'WEISS, JUDD', 'LIB', Decimal('2016'), 'US', 'P', '00', 'O', 'N', 'C00619296', None, None, 'LOS ANGELES', 'CA', '90049', 'WEISS', 'JUDD'),
 ('S0AK00162', 'HILL, SID', 'UNK', Decimal('2016'), 'AK', 'S', '00', 'C', 'N', None, 'P.O. BOX 4556', None, 'PALMER', 'AK', '99645', 'HILL', 'SID')]

# Problem 6

#### Write a query to determine the top 10 committees in terms of their total contributions from individuals. In the query indicate the committee code, name, party affiliation and total contributions collected.

* View 'CONTRIBUTION' table.

In [ ]:
%%sql
SELECT *
FROM CONTRIBUTION
LIMIT 5;

 * postgresql://student@/candidate
5 rows affected.

[('C00573758', 'A', 'Q3', 'P2016', '201702030200053785', '15', 'IND', 'ROGERS, DAVID E', 'BETHESDA', 'MD', '208161809', 'MCDERMOTT, WILL & EMERY LLP', 'ATTORNEY', '07232016', Decimal('1000.00'), None, 'SA0208173785419', Decimal('1148131'), None, None, Decimal('2020820171370042762')),
 ('C00523217', 'N', 'YE', 'P', '201607130300083071', '15', 'IND', "O'BRIEN, TIMOTHY", 'WELLESLEY', None, '02481', None, None, '08262016', Decimal('300.00'), None, 'SA071816307115', Decimal('1087925'), None, None, Decimal('2080420161308935237')),
 ('C00581272', 'A', 'Q3', 'P', '201610210200518510', '15', 'IND', 'SQUIRE, JAMES', 'SEATTLE', 'WA', '98116', 'SELF', 'PHYSICIAN', '08242016', Decimal('700.00'), None, 'SA102616851013', Decimal('1115447'), None, None, Decimal('1120820160032960190')),
 ('C00600718', 'A', 'Q3', 'G2016', '201703239051883064', '15', 'IND', 'MARSHALL, JOHN L.', 'DAYTON', 'OH', '45401', 'GRISMER TIRE', 'OWNER', '07292016', Decimal('300.00'), None, 'SA11AI.10429', Decimal('1153805'), None, None, Decimal('4032320171380705148')),
 ('C00600718', 'A', 'Q3', 'G2016', '201703239051883064', '15', 'IND', 'NAILL, SCOTT', 'SPRINGFIELD', 'OH', '45502', 'TEACHER', 'UVCC', '08292016', Decimal('100.00'), None, 'SA11AI.10623', Decimal('1153805'), None, None, Decimal('4032320171380705149'))]

* Create a view, 'temp2', and find the sum of transaction amount by 'CMTE_ID', and add the data into column 'TOTAL_TRANSAC_AMT' in the view. Group by 'CMTE_ID', sort in descending order based on total_transac_amt, cut the dataset to 10 rows to get the top 10 committees.

In [ ]:
%%sql
CREATE OR REPLACE VIEW temp2 AS
SELECT cmte_id, sum(transaction_amt) as total_transac_amt
FROM CONTRIBUTION
GROUP BY cmte_id
ORDER BY total_transac_amt DESC
LIMIT 10

 * postgresql://student@/candidate
Done.

[]

* Check the view to see if it was created as commanded.

In [ ]:
%%sql
SELECT *
FROM temp2

 * postgresql://student@/candidate
10 rows affected.

[('C00586537', Decimal('308391667.00')),
 ('C00575795', Decimal('117951937.00')),
 ('C00401224', Decimal('116476680.00')),
 ('C00495861', Decimal('83116551.00')),
 ('C00571703', Decimal('81493979.00')),
 ('C00618389', Decimal('74904350.00')),
 ('C00618371', Decimal('58157327.00')),
 ('C00580100', Decimal('58025982.00')),
 ('C00547349', Decimal('57448383.00')),
 ('C00484642', Decimal('50859704.00'))]

* Create a view, 'temp1', and get the 'CMTE_ID', 'CMTE_NM', and 'CMTE_PTY_AFFILIATION' columns from the 'COMMITTEE' table based on the top 10 CMTE_ID found above.

In [ ]:
%%sql
CREATE OR REPLACE VIEW temp1 AS
SELECT CMTE_ID, CMTE_NM, CMTE_PTY_AFFILIATION
FROM COMMITTEE
WHERE cmte_id IN (SELECT cmte_id
                  FROM temp2);

 * postgresql://student@/candidate
Done.

[]

* Check the view to see if it was created as commanded.

In [ ]:
%%sql
SELECT *
FROM temp1;

 * postgresql://student@/candidate
10 rows affected.

[('C00586537', 'HILLARY VICTORY FUND', None),
 ('C00575795', 'HILLARY FOR AMERICA', 'DEM'),
 ('C00401224', 'ACTBLUE', None),
 ('C00495861', 'PRIORITIES USA ACTION', None),
 ('C00571703', 'SENATE LEADERSHIP FUND', None),
 ('C00618389', 'TRUMP VICTORY', None),
 ('C00618371', 'TRUMP MAKE AMERICA GREAT AGAIN COMMITTEE', None),
 ('C00580100', 'DONALD J. TRUMP FOR PRESIDENT, INC.', 'REP'),
 ('C00547349', 'NEXTGEN CLIMATE ACTION COMMITTEE', None),
 ('C00484642', 'SENATE MAJORITY PAC', None)]

* Inner join the two views ('temp1,'temp2') by 'CMTE_ID', and sort the output by total transaction amount in a descending order to get the top 10 committees and their respective attributes.

In [ ]:
%%sql
SELECT temp1.cmte_id, cmte_nm, cmte_pty_affiliation, temp2.total_transac_amt
FROM temp1
INNER JOIN temp2 ON temp2.cmte_id=temp1.cmte_id
ORDER BY total_transac_amt DESC;

 * postgresql://student@/candidate
10 rows affected.

[('C00586537', 'HILLARY VICTORY FUND', None, Decimal('308391667.00')),
 ('C00575795', 'HILLARY FOR AMERICA', 'DEM', Decimal('117951937.00')),
 ('C00401224', 'ACTBLUE', None, Decimal('116476680.00')),
 ('C00495861', 'PRIORITIES USA ACTION', None, Decimal('83116551.00')),
 ('C00571703', 'SENATE LEADERSHIP FUND', None, Decimal('81493979.00')),
 ('C00618389', 'TRUMP VICTORY', None, Decimal('74904350.00')),
 ('C00618371', 'TRUMP MAKE AMERICA GREAT AGAIN COMMITTEE', None, Decimal('58157327.00')),
 ('C00580100', 'DONALD J. TRUMP FOR PRESIDENT, INC.', 'REP', Decimal('58025982.00')),
 ('C00547349', 'NEXTGEN CLIMATE ACTION COMMITTEE', None, Decimal('57448383.00')),
 ('C00484642', 'SENATE MAJORITY PAC', None, Decimal('50859704.00'))]

#### Write a query to find the maximum, minimum, total, and number of contributions by Individuals working for a company that has “AMAZON” as part of its name between the months of august to Nov 2016.

* Filter the 'CONTRIBUTION' table by transaction dates from September 2016 to November 2016 to check the values of dates.

In [ ]:
%%sql 
SELECT distinct transaction_dt
FROM CONTRIBUTION
WHERE TRANSACTION_DT BETWEEN '09012016' AND '11302016'
ORDER BY transaction_dt

 * postgresql://student@/candidate
91 rows affected.

[('09012016',),
 ('09022016',),
 ('09032016',),
 ('09042016',),
 ('09052016',),
 ('09062016',),
 ('09072016',),
 ('09082016',),
 ('09092016',),
 ('09102016',),
 ('09112016',),
 ('09122016',),
 ('09132016',),
 ('09142016',),
 ('09152016',),
 ('09162016',),
 ('09172016',),
 ('09182016',),
 ('09192016',),
 ('09202016',),
 ('09212016',),
 ('09222016',),
 ('09232016',),
 ('09242016',),
 ('09252016',),
 ('09262016',),
 ('09272016',),
 ('09282016',),
 ('09292016',),
 ('09302016',),
 ('10012016',),
 ('10022016',),
 ('10032016',),
 ('10042016',),
 ('10052016',),
 ('10062016',),
 ('10072016',),
 ('10082016',),
 ('10092016',),
 ('10102016',),
 ('10112016',),
 ('10122016',),
 ('10132016',),
 ('10142016',),
 ('10152016',),
 ('10162016',),
 ('10172016',),
 ('10182016',),
 ('10192016',),
 ('10202016',),
 ('10212016',),
 ('10222016',),
 ('10232016',),
 ('10242016',),
 ('10252016',),
 ('10262016',),
 ('10272016',),
 ('10282016',),
 ('10292016',),
 ('10302016',),
 ('10312016',),
 ('11012016',),
 ('11022016',),
 ('11032016',),
 ('11042016',),
 ('11052016',),
 ('11062016',),
 ('11072016',),
 ('11082016',),
 ('11092016',),
 ('11102016',),
 ('11112016',),
 ('11122016',),
 ('11132016',),
 ('11142016',),
 ('11152016',),
 ('11162016',),
 ('11172016',),
 ('11182016',),
 ('11192016',),
 ('11202016',),
 ('11212016',),
 ('11222016',),
 ('11232016',),
 ('11242016',),
 ('11252016',),
 ('11262016',),
 ('11272016',),
 ('11282016',),
 ('11292016',),
 ('11302016',)]

* Find the maximum, minimum, total sum, and total count of rows that have 'AMAZON' in the employer name.

In [ ]:
%%sql
SELECT MAX(TRANSACTION_AMT), MIN(TRANSACTION_AMT), SUM(TRANSACTION_AMT), COUNT(TRANSACTION_AMT)
FROM CONTRIBUTION
WHERE EMPLOYER LIKE '%AMAZON%' AND TRANSACTION_DT BETWEEN '09012016' AND '11302016'

 * postgresql://student@/candidate
1 rows affected.

[(Decimal('10800.00'), Decimal('1.00'), Decimal('533142.00'), 3469)]

#### List all presidential candidates with offices in NY or PA and their corresponding committee names.

* Create a view, 'temp3'. Get the 'CAND_ID', 'CAND_NAME', and 'CAND_ST' columns from the 'CANDIDATE' table with only 'NY' and 'PA' in column 'CAND_ST' and only 'P' in column 'CAND_OFFICE'.

In [ ]:
%%sql
CREATE OR REPLACE VIEW temp3 AS
SELECT cand_id, cand_name, CAND_ST
FROM CANDIDATE
WHERE CAND_ST in ('NY','PA') AND CAND_OFFICE IN ('P')

 * postgresql://student@/candidate
Done.

[]

* Check the view.

In [ ]:
%%sql 
SELECT *
FROM temp3
LIMIT 10;

 * postgresql://student@/candidate
10 rows affected.

[('P00003244', 'WINTERBOTTOM, THOMAS FRANCIS', 'PA'),
 ('P00003392', 'CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE', 'NY'),
 ('P00003731', 'MARTIN, ANDY', 'NY'),
 ('P00003756', 'MARTISKO, MIKE BENJAMIN', 'PA'),
 ('P00004135', 'HANKINS, GERALD LAMAR MR', 'PA'),
 ('P00004846', 'IWACHIW, WALTER N', 'NY'),
 ('P00004887', 'GABLE, JEREMY JOSEPH MR.', 'PA'),
 ('P00004945', 'HOWITT, JAMES WILLIAM', 'NY'),
 ('P00005041', 'LASSITER, JORDAN R', 'NY'),
 ('P00005256', 'DENAME, MICHAEL TONY MICHAEL JR', 'NY')]

* Create another view, 'temp4', with only columns 'CMTE_ID' and 'CMNT_NM' of the 'COMMITTEE' table.

In [ ]:
%%sql 
CREATE OR REPLACE VIEW temp4 AS
SELECT cmte_id, cmte_nm
FROM COMMITTEE;

 * postgresql://student@/candidate
Done.

[]

* Check the view.

In [ ]:
%%sql 
SELECT *
FROM temp4
LIMIT 10;

 * postgresql://student@/candidate
10 rows affected.

[('C00000422', 'AMERICAN MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE'),
 ('C00000489', 'D R I V E POLITICAL FUND CHAPTER 886'),
 ('C00000547', 'KANSAS MEDICAL SOCIETY POLITICAL ACTION COMMITTEE'),
 ('C00000638', 'INDIANA STATE MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE'),
 ('C00000729', 'AMERICAN DENTAL ASSOCIATION POLITICAL ACTION COMMITTEE'),
 ('C00000885', 'INTERNATIONAL UNION OF PAINTERS AND ALLIED TRADES POLITICAL ACTION TOGETHER POLITICAL COMMITTEE'),
 ('C00000901', 'BUILD POLITICAL ACTION COMMITTEE OF THE NATIONAL ASSOCIATION OF HOME BUILDERS (BUILDPAC)'),
 ('C00000935', 'DCCC'),
 ('C00000984', 'UNITED STATES TELECOM ASSOCIATION POLITICAL ACTION COMMITTEE (TELECOMPAC)'),
 ('C00001016', 'CARPENTERS LEGISLATIVE IMPROVEMENT COMMITTEE UNITED BROTHERHOOD OF CARPENTERS AND JOINERS')]

* Select columns 'CAND_ID', 'CAND_NAME', 'CAND_ST', 'CMTE_NM' from the 'cclinkages' table, and inner join it with 'temp3' by 'CAND_ID' and inner join with 'temp4' by 'CMTE_ID'.

In [ ]:
%%sql
SELECT cclinkages.cand_id, cand_name, cand_st, cmte_nm
FROM cclinkages 
INNER JOIN temp3 on temp3.cand_id = cclinkages.cand_id
INNER JOIN temp4 on temp4.cmte_id = cclinkages.cmte_id

 * postgresql://student@/candidate
93 rows affected.

[('P00003244', 'WINTERBOTTOM, THOMAS FRANCIS', 'PA', 'THOMAS F WINTERBOTTOM FOR PRESIDENT'),
 ('P00003392', 'CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE', 'NY', 'PEOPLE IN COMMAND/PIC'),
 ('P00003392', 'CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE', 'NY', 'FUTURE OF AMERICAN LIVES MATTER'),
 ('P00003392', 'CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE', 'NY', 'HILLARY FOR AMERICA'),
 ('P00003731', 'MARTIN, ANDY', 'NY', 'ANDY MARTIN CAMPAIGN COMMITTEE'),
 ('P00004846', 'IWACHIW, WALTER N', 'NY', 'IWACHIW4PRESIDENT INC'),
 ('P00004887', 'GABLE, JEREMY JOSEPH MR.', 'PA', 'HEY, JEREMY GABLE IS RUNNING FOR PRESIDENT'),
 ('P00004945', 'HOWITT, JAMES WILLIAM', 'NY', 'HOWITT FOR PRESIDENT'),
 ('P20002440', 'DENAME, MICHAEL JR', 'NY', 'DENAME, MICHAEL JR'),
 ('P20002481', 'RAMOS, LUIS ALBERTO JR', 'NY', 'RAMOS FOR AMERICA'),
 ('P20002721', 'SANTORUM, RICHARD J.', 'PA', 'RICK SANTORUM FOR PRESIDENT, INC. (2012)'),
 ('P20002721', 'SANTORUM, RICHARD J.', 'PA', 'SANTORUM FOR PRESIDENT 2016'),
 ('P20002796', 'RUDICK, CHARLES MICHAEL', 'NY', 'CAMPAIGN CLUB'),
 ('P20002986', 'POWERS, C', 'NY', 'CPOWERS CAMPAIGN'),
 ('P20003042', 'LAX MILLER, LORETTA', 'PA', 'COMMITTEE TO ELECT LEAH LAX'),
 ('P20004008', 'BEJGER, DANIEL J', 'PA', 'COMMITTEE FOR DANIEL J BEJGER PRESIDENT OF THE UNITED STATES'),
 ('P20004461', 'NABEL, GREGORY', 'NY', 'GREGORY NABEL FOR PRESIDENT ELECTION 2012'),
 ('P20004537', 'SLOAN, SAM', 'NY', 'COMMITTEE TO ELECT SAM SLOAN'),
 ('P20004537', 'SLOAN, SAM', 'NY', 'COMMITTEE TO ELECT SAM SLOAN'),
 ('P20004909', 'SANDERA, ROBERT WILLIAM', 'PA', 'ROBERT SANDERA FOR PRESIDENT COMMITTEE'),
 ('P20005054', 'FRASER, GEORGE LASCELLES PETRO BONITAC', 'NY', 'LITON MARY SOSA RATY'),
 ('P20005336', 'STEVENSON, JOHN WILLIAM MR III', 'PA', 'STEVENSON FOR PRESIDENT 2032'),
 ('P40002404', 'SHARPTON, REV ALFRED C', 'NY', 'SHARPTON 2004'),
 ('P40002446', 'MOLLENHOUR, GRADY DEAN REV JR', 'NY', '2020 VISION FOR AMERICA'),
 ('P60004785', 'COLE, BRIAN ARI DR', 'PA', 'DR. BRIAN ARI COLE 2016 CAMPAIGN FOR U S PRESIDENT; THE'),
 ('P60004900', 'JEROBOAN, KINS', 'NY', 'JEROBOAN FOR PRESIDENT'),
 ('P60005261', 'JUSTICE, BRENDA DAWN', 'NY', 'BRENDA DAWN JUSTICE'),
 ('P60005261', 'JUSTICE, BRENDA DAWN', 'NY', 'BRENDA DAWN JUSTICE'),
 ('P60005931', 'BUTTOCKS, SYDNEYS VOLUPTOUS', 'NY', 'SYD BUTTOCKS COMMITTEE; THE'),
 ('P60006152', 'SHEPARD, RYAN W MR.', 'NY', 'COMMITTEE TO ELECT RYAN SHEPARD'),
 ('P60006160', 'RHODES, LEE', 'NY', 'FRIENDS OF LEE RHODES'),
 ('P60006210', 'IRWIN, THOMAS J', 'PA', 'TOM IRWIN FOR PRESIDENT'),
 ('P60006632', 'NAGEL, ERIC', 'NY', 'COMMITTEE TO ELECT ERIC NAGEL'),
 ('P60006749', 'LYNCH, WILLIAM THOMAS MR', 'NY', 'COMMITTEE TO ELECT WILLIAM LYNCH PRESIDENT'),
 ('P60006772', 'OWENS, WARREN PATRICK', 'NY', '(WARREN OWENS) UNCOMMON COMMON MAN'),
 ('P60006905', 'UHRIC, RAYMOND JOHN', 'PA', 'COMMITTEE TO ELECT RAY UHRIC'),
 ('P60006954', 'LYNCH, DENNIS MICHAEL', 'NY', 'DML FOR AMERICA'),
 ('P60007531', 'SLEGGS, MARK MR.', 'NY', 'COMMITTEE TO ELECT MARK SLEGGS'),
 ('P60007572', 'PATAKI, GEORGE E', 'NY', 'PATAKI FOR PRESIDENT INC'),
 ('P60007689', 'KEITA, MOHAMMED', 'NY', 'SEAVIEW GROUP LLC'),
 ('P60007804', 'KATT, CORNELIUS JANNIK', 'PA', 'KATT COMMITTEE FOR PRESIDENT'),
 ('P60008042', 'CASTILLEJOS, MICHAEL', 'NY', 'MICHAEL CASTILLEJOS FOR PRESIDENT'),
 ('P60008158', 'GRIMALDI, NEIL', 'NY', 'NEIL GRIMALDI FOR US PRESIDENT'),
 ('P60008919', 'DREW, ARTHUR', 'PA', 'ART DREW FOR PRESIDENT'),
 ('P60008943', 'MARTINX, ANDY', 'NY', 'ANDY MARTIN FOR AMERICA'),
 ('P60009081', 'REED, ROBERT J MR', 'NY', 'COMMITTEE TO ELECT BOB'),
 ('P60009206', 'BRITT, JOSEPH PATRICK JR', 'NY', 'JOE BRITT JR 2016 PRESIDENTIAL "WHAT IF?" CAMPAIGN COMMITTEE'),
 ('P60010303', 'HAMLIN, QUINN', 'NY', 'QUINN FOR AMERICA'),
 ('P60010956', 'RUSSO, MUGSY', 'NY', 'NYC COFFEE PARTY'),
 ('P60011558', 'HURT, SAMUEL LEVI RABBI', 'PA', 'COMMITTEE TO ELECT SAMUEL'),
 ('P60011855', 'REISBORD, SAMUEL M.', 'PA', 'SAM REISBORD FOR PRESIDENT 2016'),
 ('P60012192', 'VAYNBLAT, SAMUEL R MR', 'NY', 'COMMITTEE TO RESTORE AMERICA TO POWER'),
 ('P60012267', 'PARADISE, CHRISTOPHER JOHN SENIOR', 'PA', 'PARADISE COMMITTE'),
 ('P60012283', 'PAUL, JEFF', 'NY', 'NY HAITIAN STUDENT ALLIANCE'),
 ('P60012754', 'TESENY, PAUL ANTHONY MR', 'PA', 'PAULTESENY2016'),
 ('P60012754', 'TESENY, PAUL ANTHONY MR', 'PA', 'PAULTESENY2016'),
 ('P60012952', 'KUMRO, CHRISTOPHER EVERETT', 'NY', 'TAXMAN FOR PRESIDENT'),
 ('P60013158', 'DANIELSON, STENTOR', 'PA', "HAPPY LAUGHTERSON'S MERRY BAND OF UNICORNS FOR STENTOR DANIELSON"),
 ('P60013471', 'EXLEY, JOHN SBB DOCTOR', 'NY', 'JOHN EXLEY IN 2016 SBB'),
 ('P60013620', 'HOWARD, CHELENIE', 'NY', 'CHELENIE?S SELF'),
 ('P60013919', 'NORTHUP, PETER MR. II', 'NY', 'NORTHUP'),
 ('P60014735', 'MARTIN, ANDREW NOMORECPD', 'NY', 'NOMORECPD 2016 PRESIDENTIAL CAMPAIGN COMMITTEE'),
 ('P60015971', 'EBY, CHANDLER KADE', 'PA', 'THE EBY FOUNDATION'),
 ('P60016292', 'SCHWEIGERT, MARGARET ELIZABETH', 'NY', 'COMMITTEE TO ELECT MARGARET SCHWEIGERT FOR PRESIDENT'),
 ('P60016458', 'WEBBER, DAVID A', 'NY', 'DAVE WEBBER FOR AMERICA'),
 ('P60016763', 'LOUP, TONY', 'NY', 'COMMITTEE TO ELECT TONY LOUP'),
 ('P60016805', 'MCMILLAN, JIMMY "RENT IS TOO DAMN HIGH', 'NY', 'JIMMY MCMILLAN IN 2016'),
 ('P60017241', 'BEDIO, DENISE', 'PA', 'VOTE DENISE BEDIO'),
 ('P60017266', 'JEKYLL, DR.', 'NY', 'DR. JEKYLL FOR AMERICA'),
 ('P60017977', 'JACKSON, CRAIG ASHLEY DR. JR.', 'PA', 'CJ JACKSON FOR PRESIDENT 2016'),
 ('P60018389', 'ROY, JOHN CHARLES', 'PA', 'JOHN ROY 4 PRESIDENT'),
 ('P60018421', 'COURTOIS, DAKOTA', 'NY', 'DAKOTA COURTOIS FOR PRESIDENT'),
 ('P60019080', 'MCCALL, BENSON MR', 'NY', 'LETS FIX AMERICA FIX AMERICA FIRST'),
 ('P60020765', 'BEATTY, KEVIN WILLIAM', 'PA', 'KEV4PREZ2016'),
 ('P60020898', 'ARENA, ROBERT JOSEPH MR. JR.', 'NY', 'ROBERT J ARENA PRESIDENTAL COMMITTEE'),
 ('P60020906', 'AUBIN, MARK-CHRISTIAN ANTHONY MR', 'NY', 'MARK-CHRISTIAN ANTHONY AUBIN'),
 ('P60020906', 'AUBIN, MARK-CHRISTIAN ANTHONY MR', 'NY', 'MARK FOR THE NEXT GENERATION LLC.'),
 ('P60021581', 'GROSS, YAIR', 'NY', 'YAIR FOR PRESIDENT'),
 ('P60022118', 'FERRY, CHARLES GRIFFITH', 'NY', 'CONSERVATIVE PARTY NATIONAL COMMITTEE'),
 ('P60022118', 'FERRY, CHARLES GRIFFITH', 'NY', 'COMMITTEE TO ELECT CHARLES GRIFFITH FERRY'),
 ('P60022118', 'FERRY, CHARLES GRIFFITH', 'NY', 'CONSERVATIVE PARTY OF THESE UNITED STATES'),
 ('P60022555', 'LASH, KEN', 'PA', 'KEN LASH OF KELASH'),
 ('P60023074', 'CANNS, GARY S', 'NY', 'GARY CANNS'),
 ('P60023173', 'GOMEZ, NELSON', 'NY', 'GOMEZIDENT FOR PRESIDENT'),
 ('P60023439', 'CARROZZA, ALBERT KENNETH', 'NY', 'ALBERT KENNETH CARROZZA LLC.'),
 ('P80001571', 'TRUMP, DONALD J. / MICHAEL R. PENCE ', 'NY', 'DONALD J. TRUMP FOR PRESIDENT, INC.'),
 ('P80001571', 'TRUMP, DONALD J. / MICHAEL R. PENCE ', 'NY', 'VERMONT TRUMP DELEGATE FUND'),
 ('P80004765', 'HEWES, HENRY', 'NY', 'HENRY HEWES 2016 COMMITTEE'),
 ('P80005135', 'BOOTIE, JOHN KENNETH', 'PA', 'JOHN BOOTIE 2008'),
 ('P80005325', 'BOND, TANYA ELIZABETH DR REV', 'PA', 'CITY COMMISSION DOCUMENT UNIT'),
 ('P80005655', 'STEVENS, THOMAS ROBERT', 'NY', 'COMMITTEE TO ELECT THOMAS ROBERT STEVENS PRESIDENT'),
 ('P80005697', 'LIMER, CLIFTON ROY JOHN JR', 'NY', 'INDEPENDENT NY CLIFTON ROY JOHN LIMER JR'),
 ('P80005754', 'DE NUGENT, JOHN', 'PA', 'JOHN DE NUGENT FOR PRESIDENT')]